<!-- registration/register.html -->
{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Sign Up{% endblock %}

{% block custom_css %}
{% endblock custom_css %}

{% block header %}
<div class="container text-center py-4">
	<p class="display-3">Sign Up</p>
	<p class="text-muted">
		<small>Fill in the required fields as indicated</small>
	</p>
</div>
{% endblock header %}

{% block content %}
<section class="container justify-content-center">
	<form id="signupForm" method="post" class="mb-3 py-4" accept-charset="utf-8" onforminput="checkPasswordMatch()">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-12 col-sm-12 col-lg-6">
				{% bootstrap_field form.username %}
			</div>
			<div class="col-md-12 col-sm-12 col-lg-6">
				{% bootstrap_field form.email %}
			</div>
			<div class="col-md-12 col-sm-12 col-lg-5">
				{% bootstrap_field form.business_name %}
			</div>
			<div class="col-md-5 col-sm-5 col-lg-3">
				{% bootstrap_field form.business_phone %}
			</div>
			<div class="col-md-7 col-sm-7 col-lg-4">
				{% bootstrap_field form.business_website %}
			</div>
			<div class="col-12">
				{% bootstrap_field form.business_address %}
			</div>
			<div class="col-md-12 col-sm-12 col-lg-6">
				{% bootstrap_field form.password1 %}
			</div>
			<div class="col-md-12 col-sm-12 col-lg-6">
				{% bootstrap_field form.password2 %}
			</div>
		</div>

		<div class="form-check m-2">
			<input class="form-check-input" type="checkbox" value="" id="termsCheckbox" required>
			<label class="form-check-label" for="termsCheckbox">
				I agree to the <a href="{% url 'terms' %}">Terms and Conditions</a>
			</label>
		</div>
		<div class="form-check m-2">
			<input class="form-check-input" type="checkbox" value="" id="privacyCheckbox" required>
			<label class="form-check-label" for="privacyCheckbox">
				I agree to the <a href="{% url 'privacy' %}">Privacy Policy</a>
			</label>
		</div>

		<div class="text-center">
			<button class="btn-solid-sm-success" type="submit" id="signup-button" onclick="popupNotAgreed()">Sign
				Up</button>
		</div>
	</form>
</section>
{% endblock content%}

{% block custom_js %}
<script>
	var termsCheckbox = document.getElementById("termsCheckbox");
	var privacyCheckbox = document.getElementById("privacyCheckbox");
	var signupButton = document.getElementById("signup-button");
	var form = document.getElementById("signupForm");

	// check if the terms and privacy checkboxes are checked before enabling the submit button using javascript
	function popupNotAgreed() {
		if (termsCheckbox.checked && privacyCheckbox.checked) {
			form.submit();
		}
		else {
			Swal.fire({
				icon: 'error',
				title: 'Oops...',
				text: 'You must agree to the terms and privacy policy to sign up!',
			})
		}
	}
</script>
{% endblock custom_js %}