{% extends "dash-base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Profile{% endblock %}

{% block header %}
<div class="container py-4">
    <p class="text-dark text-center display-4">Profile</p>
</div>
{% endblock header%}

{% block content %}
<div class="container-fluid">
    <div class="row mb-3">
        <form action="{% url 'edit_profile' %}" method="post">
            {% csrf_token %}
            <div class="col-lg-12">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Business Settings</p>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                {% bootstrap_field profile_form.username %}
                            </div>
                            <div class="col">
                                {% bootstrap_field profile_form.business_name %}
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary btn-sm" type="submit">Save Settings</button>
                        </div>
                    </div>
                </div>

                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Contact Details</p>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                {% bootstrap_field profile_form.email %}
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                {% bootstrap_field profile_form.business_phone %}
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                {% bootstrap_field profile_form.business_website %}
                            </div>
                            <div class="col-12">
                                {% bootstrap_field profile_form.business_address %}
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary btn-sm" type="submit">
                                Save Contact Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}