{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
	<link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>
	<style>
		.side-nav-divider {
			margin-top: 5px;
			margin-bottom: 5px;
			height: 1px;
			border-width: 0;
			color: rgb(255, 255, 255);
			background-color: rgb(240, 236, 236)
		}
	</style>
	{% block custom_css %}

	{% endblock custom_css %}

</head>

<body id="page-top">
	<div id="wrapper">
		<nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
			<div class="container-fluid d-flex flex-column p-0">
				<a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
					href="{% url 'home' %}">
					<div class="sidebar-brand-icon rotate-n-15">
						<img src="{% static 'images/favicon.png' %}" alt="" height="40px">
					</div>
					<div class="sidebar-brand-text mx-3"><span>Compliance <br>Checker</span></div>
				</a>
				<hr class="sidebar-divider my-0">
				<ul class="navbar-nav text-light" id="accordionSidebar">
					<hr class="side-nav-divider">
					<li class="nav-item">
						<a class="nav-link active text-center" href="{% url 'dashboard' %}">
							<i class="fas fa-tachometer-alt"></i><span>Dashboard</span>
						</a>
					</li>

					<div class="" style="display: flex; align-items: center;">
						<hr style="flex-grow: 1; border: none; border-top: 5px solid white;">
						<span class="nav-text" style="margin: 0 10px;">Compliance Check</span>
						<hr style="flex-grow: 1; border: none; border-top: 5px solid white;">
					</div>

					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="far fa-check-square"></i><span>PCI DSS Compliance</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="far fa-check-square"></i><span>HIPAA Compliance</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="far fa-check-square"></i><span>ISO 27001 Compliance</span>
						</a>
					</li>

					<div class="" style="display: flex; align-items: center;">
						<hr style="flex-grow: 1; border: none; border-top: 5px solid white;">
						<span class="nav-text" style="margin: 0 10px;">Compliance Reports</span>
						<hr style="flex-grow: 1; border: none; border-top: 5px solid white;">
					</div>

					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fas fa-book"></i><span>PCI DSS Report</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fas fa-book"></i><span>HIPAA Report</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fas fa-book"></i><span>ISO 27001 Report</span>
						</a>
					</li>
				</ul>
				<div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
						id="sidebarToggle" type="button"></button></div>
			</div>
		</nav>
		<div class="d-flex flex-column" id="content-wrapper">
			<div id="content">
				<nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
					<div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
							id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
						<form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
							<div class="input-group"><input class="bg-light form-control border-0 small" type="text"
									placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"><i
										class="fas fa-search"></i></button></div>
						</form>
						<ul class="navbar-nav flex-nowrap ms-auto">
							<li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
									aria-expanded="false" data-bs-toggle="dropdown" href="#"><i
										class="fas fa-search"></i></a>
								<div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in"
									aria-labelledby="searchDropdown">
									<form class="me-auto navbar-search w-100">
										<div class="input-group"><input class="bg-light form-control border-0 small"
												type="text" placeholder="Search for ...">
											<div class="input-group-append"><button class="btn btn-primary py-0"
													type="button"><i class="fas fa-search"></i></button></div>
										</div>
									</form>
								</div>
							</li>
							<div class="d-none d-sm-block topbar-divider"></div>
							<li class="nav-item dropdown no-arrow">
								<div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
										aria-expanded="false" data-bs-toggle="dropdown" href="#">
										<span class="d-none d-lg-inline me-2 text-gray-600 small">
											{{ user.business_name }}
										</span>
										<img class="border rounded-circle img-profile"
											src="{% static 'assets/img/avatars/avatar1.jpeg' %}"></a>
									<div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
										<a class="dropdown-item" href="{% url 'profile' %}">
											<i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile
										</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">
											<i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>
											&nbsp;Logout
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</nav>

				{% if messages %}
				{% for message in messages %}
				{% if message.tags == 'success' %}
				<script>
					var message = "{{ message|safe }}";
					var alertType = "success";
					console.log(message);

					Swal.fire({
						title: "Success!",
						html: message,
						icon: "success"
					});
				</script>
				{% elif message.tags == 'info' %}
				<script>
					var message = "{{ message|safe }}";
					var alertType = "info";
					console.log(message);

					Swal.fire({
						title: "info!",
						html: message,
						icon: "info"
					});

				</script>

				{% elif message.tags == 'warning' %}
				<script>
					var message = "{{ message|safe }}";
					var alertType = "warning";
					console.log(message);

					Swal.fire({
						title: "Warning!",
						html: message,
						icon: "warning"
					});
				</script>

				{% elif message.tags == 'error' %}
				<script>
					var message = "{{ message|safe }}";
					var alertType = "error";
					console.log(message);

					Swal.fire({
						title: "Error!",
						html: message,
						icon: "error"
					});
				</script>

				{% endif %}
				{% endfor %}
				{% endif %}

				{% block header %}

				{% endblock header %}

				{% block content %}

				{% endblock content %}

			</div>
			<footer class="bg-white sticky-footer">
				<div class="container my-auto">
					<div class="text-center my-auto copyright"><span>Copyright © Brand 2024</span></div>
				</div>
			</footer>
		</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
	<script src="{% static 'assets/js/script.min.js' %}"></script>

	{% block custom_js %}

	{% endblock custom_js %}

</body>

</html>